{{#extend "layout" title="Charts"}}

    {{#content "sidebar"}}
        {{> sidebar active="charts"}}
    {{/content}}

    {{#content "content" mode="replace"}}
        <h1 class="ui header">Charts</h1>
        <p><b>TODO</b>: Add examples.</p>
    {{/content}}

{{/extend}}
