{{#extend "layout" title="Dashboard template"}}

    {{#content "sidemenu"}}
        {{> sidemenu active="dashboard"}}
    {{/content}}

    {{#content "content" mode="replace"}}
        <p>This is a basic fixed menu template using fixed size containers.</p>
        <p>A text container is used for the main container, which is useful for single column layouts</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis nisl pulvinar,
          hendrerit nulla in, venenatis tortor. Morbi vitae fringilla nunc. Proin vel sapien volutpat nibh
          aliquam mollis. Aenean consectetur nibh sed tincidunt faucibus. Morbi sed tempus est. Duis in
          convallis justo, at commodo purus. Curabitur commodo felis dui, nec finibus sem rutrum
          vitae. Aliquam ante magna, eleifend non lacus id, rutrum venenatis purus. Integer pretium metus
          at lorem tincidunt, eu porttitor nulla tempor. Phasellus pharetra lorem in mollis
          vehicula. Nullam accumsan dolor quis orci dapibus placerat.</p>
        <div class="ui cards">
          <div class="card" data-href="projects/foo">
            <div class="content">
              <!--img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg"-->
              <div class="header">
                Foo
              </div>
              <div class="meta">
                <i class="toolbox icon yellow"></i>
                <code>foo</code>
              </div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis nisl pulvinar,
                hendrerit nulla in, venenatis tortor.
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <a href="projects/foo/this" class="ui basic button">This</a>
                <a href="projects/foo/that" class="ui basic button">That</a>
              </div>
            </div>
          </div>
          <div class="card" data-href="projects/bar">
            <div class="content">
              <div class="header">Bar</div>
              <div class="meta">
                <i class="toolbox icon yellow"></i>
                <code>bar-and-beyond-and-even-longer</code>
              </div>
            </div>
          </div>
          <div class="card" data-href="projects/stuff">
            <div class="content">
              <div class="header">Project <em>Stuff</em> to conquer the entire Universe</div>
              <div class="meta">
                <i class="toolbox icon yellow"></i>
                <code>stuff</code>
              </div>
              <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                quis nisl pulvinar, hendrerit nulla in, venenatis tortor. Morbi vitae fringilla nunc.</div>
            </div>
          </div>
          <div class="card" data-href="projects/baz">
            <div class="content">
              <div class="header">Baz</div>
              <div class="meta">
                <i class="toolbox icon yellow"></i>
                <code>baz</code>
              </div>
              <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis nisl pulvinar,
          hendrerit nulla in, venenatis tortor. Morbi vitae fringilla nunc. Proin vel sapien volutpat nibh
          aliquam mollis. Aenean consectetur nibh sed tincidunt faucibus. Morbi sed tempus est. Duis in
          convallis justo, at commodo purus. Curabitur commodo felis dui, nec finibus sem rutrum
          vitae. Aliquam ante magna, eleifend non lacus id, rutrum venenatis purus. Integer pretium metus
          at lorem tincidunt, eu porttitor nulla tempor. Phasellus pharetra lorem in mollis
          vehicula. Nullam accumsan dolor quis orci dapibus placerat.</p>
    {{/content}}

    {{#content "scripts"}}
        <script>
          $(initSideMenu);
          $(() => $('*[data-href]').click(dataHrefClick));
          $(() => $('a.toggle.item').click(toggleSideMenu));

          function dataHrefClick(event) {
              event.stopPropagation();
              const href = $(this).data('href');
              console.log(`dataHrefClick: go to ${href}`);
              // go to the href
              window.location.assign(href);
          }

          function initSideMenu() {
              const state = localStorage.getItem('side-menu-state');
              if ( ! state ) {
                  localStorage.setItem('side-menu-state', 'collapsed');
              }
              else if ( state === 'expanded' ) {
                  toggleSideMenu();
              }
          }

          function toggleSideMenu(event) {
              event && event.stopPropagation();
              const menu = $('.ui.side.menu');
              // toggle the collapsed/expanded state
              menu.toggleClass('collapsed expanded icon');
              // handle the toggler item (left/right arrow, and text)
              menu.find('.item.toggle i').toggleClass('left right');
              // toggle the state of elements impacted by the side menu collapse/expansion
              $('.side-menu-collapsed, .side-menu-expanded')
                  .toggleClass('side-menu-collapsed side-menu-expanded');
              // toggle the state in the local storage (only on an event, not on page init)
              if ( event ) {
                  const state = localStorage.getItem('side-menu-state');
                  if ( state === 'expanded' ) {
                      localStorage.setItem('side-menu-state', 'collapsed');
                  }
                  else {
                      localStorage.setItem('side-menu-state', 'expanded');
                  }
              }
          }
        </script>

        <!-- page specific js -->
        <script src="js/index.js"></script>

    {{/content}}

{{/extend}}
