<div class="ui fixed vertical icon side menu collapsed">
  <div class="ui simple dropdown item" data-href="databases">
    <i class="database icon"></i>
    <span>Databases</span>
    <div class="menu">
      <a data-pjax="on" class="item header" href="databases">Databases</a>
      <span class="divider"></span>
      <a data-pjax="on" class="item" href="charts">Charts</a>
      <a data-pjax="on" class="item" href="icons">Icons</a>
      <a data-pjax="on" class="item" href="databases/stuff">Stuff</a>
    </div>
  </div>
  <div class="ui simple dropdown item chosen" data-href="storage">
    <i class="hdd outline icon"></i>
    <span>Storage</span>
    <div class="menu">
      <a data-pjax="on" class="item header" href="storage">Storage</a>
      <span class="divider"></span>
      <a data-pjax="on" class="item" href="storage/content">Content</a>
      <a data-pjax="on" class="item chosen" href="storage/schemas">Schemas</a>
      <a data-pjax="on" class="item" href="storage/stuff">Stuff</a>
    </div>
  </div>
  <a data-pjax="on" class="sub item" href="storage/content">
    <i class="angle right icon"></i>
    <span>Content</span>
  </a>
  <a data-pjax="on" class="sub item chosen" href="storage/schemas">
    <i class="angle right icon"></i>
    <span>Schemas</span>
  </a>
  <a data-pjax="on" class="sub item" href="storage/stuff">
    <i class="angle right icon"></i>
    <span>Stuff</span>
  </a>
  {{! keep adding `data-pjax` attributes hereafter... }}
  <div class="ui simple dropdown item" data-href="foo-bar-bla">
    <i class="save outline icon"></i>
    <span>Foo bar bla foo bar bla</span>
    <div class="menu">
      <a class="item header" href="foo-bar-bla">Foo bar bla foo bar bla</a>
      <span class="divider"></span>
      <a class="item" href="foo-bar-bla/one">One</a>
      <a class="item" href="foo-bar-bla/two">Two</a>
      <a class="item" href="foo-bar-bla/three">Three</a>
    </div>
  </div>
  <div class="ui simple dropdown item" data-href="foo">
    <i class="desktop icon"></i>
    <span>Foo</span>
    <div class="singleton menu">
      <a class="item header" href="foo">Foo</a>
    </div>
  </div>
  <div class="ui simple dropdown item" data-href="bar">
    <i class="server icon"></i>
    <span>Bar</span>
    <div class="menu">
      <a class="item header" href="bar">Bar</a>
      <span class="divider"></span>
      <a class="item" href="bar/one">One</a>
      <a class="item" href="bar/two">Two</a>
      <a class="item" href="bar/three">Three</a>
    </div>
  </div>
  <div class="ui simple dropdown item" data-href="foo">
    <i class="download icon"></i>
    <span>Foo</span>
    <div class="menu">
      <a class="item header" href="foo">Foo</a>
      <span class="divider"></span>
      <a class="item" href="foo/one">One</a>
      <a class="item" href="foo/two">Two</a>
      <a class="item" href="foo/three">Three</a>
    </div>
  </div>
  <div class="ui simple dropdown item" data-href="bar">
    <i class="upload icon"></i>
    <span>Bar</span>
    <div class="singleton menu">
      <a class="item header" href="bar">Bar</a>
    </div>
  </div>
  <div class="ui simple dropdown item" data-href="foo-bar-bla">
    <i class="save outline icon"></i>
    <span>Foo bar bla foo bar bla</span>
    <div class="menu">
      <a class="item header" href="foo-bar-bla">Foo bar bla foo bar bla</a>
      <span class="divider"></span>
      <a class="item" href="foo-bar-bla/one">One</a>
      <a class="item" href="foo-bar-bla/two">Two</a>
      <a class="item" href="foo-bar-bla/three">Three</a>
    </div>
  </div>
  <div class="ui simple dropdown item" data-href="foo">
    <i class="desktop icon"></i>
    <span>Foo</span>
    <div class="singleton menu">
      <a class="item header" href="foo">Foo</a>
    </div>
  </div>
  <div class="ui simple dropdown item" data-href="bar">
    <i class="server icon"></i>
    <span>Bar</span>
    <div class="menu">
      <a class="item header" href="bar">Bar</a>
      <span class="divider"></span>
      <a class="item" href="bar/one">One</a>
      <a class="item" href="bar/two">Two</a>
      <a class="item" href="bar/three">Three</a>
    </div>
  </div>
  <div class="ui simple dropdown item" data-href="foo">
    <i class="download icon"></i>
    <span>Foo</span>
    <div class="singleton menu">
      <a class="item header" href="foo">Foo</a>
    </div>
  </div>
  <div class="ui simple dropdown item" data-href="bar">
    <i class="upload icon"></i>
    <span>Bar</span>
    <div class="menu">
      <a class="item header" href="bar">Bar</a>
      <span class="divider"></span>
      <a class="item" href="bar/one">One</a>
      <a class="item" href="bar/two">Two</a>
      <a class="item" href="bar/three">Three</a>
    </div>
  </div>
  <span class="item"></span>
  <a class="toggle item">
    <i class="angle double right icon"></i>
    <span>Collapse menu</span>
  </a>
</div>
