<div class="ui fixed inverted menu">
  <a class="header item">
    <i class="big pastafarianism icon"></i>
    Foo bar
  </a>
  <div class="right menu">
    <div class="ui simple dropdown item">
      <i class="toolbox icon"></i>
      Stuff
      <i class="dropdown icon"></i>
      <div class="menu">
        <h4 class="ui header">Projects</h4>
        <a class="item">
          <code>foo</code> — Foo
        </a>
        <a class="item">
          <code>bar-and-beyond</code> — Bar
        </a>
        <a class="item">
          <code>stuff</code> — Some good stuff
        </a>
        <a class="item">
          <code>baz</code> — Baz
        </a>
      </div>
    </div>
    <div class="ui simple dropdown item green">
      <i class="circle icon"></i>
      TEST
      <i class="dropdown icon"></i>
      <div class="menu">
        <h4 class="ui header">Environments</h4>
        <a class="item">
          <i class="circle icon"></i>
          LOCAL
        </a>
        <a class="item">
          <i class="circle icon green"></i>
          TEST
        </a>
        <a class="item">
          <i class="circle icon yellow"></i>
          PP
        </a>
        <a class="item">
          <i class="circle icon red"></i>
          PROD
        </a>
      </div>
    </div>
    <div class="ui simple dropdown item">
      <i class="user outline icon"></i>
      admin
      <i class="dropdown icon"></i>
      <div class="menu">
        <h4 class="ui header">User admin</h4>
        <a class="item">Foo</a>
        <a class="item">Bar</a>
        <a class="item">Preferences</a>
        <a class="item">Logout</a>
      </div>
    </div>
  </div>
</div>
